* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: arial;
  }
  
  .form-contact {
    width: 400px;
    height: 490px;
    background: #dddddd;
    margin: auto;
    margin-top: 180px;
    box-shadow:  2px 2px 30px #000;
    padding: 20px 30px;
    border-top: 4px solid #2d47d8;
    border-radius: 3%;
  }
  
  .form-contact h5 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
  }
  
  .controls {
    width: 100%;
    border: 1px solid #2d47d8;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #ffffff;
    font-size: 14px;
    font-weight: bold;
  }
  
  .buttons {
    width: 100%;
    height: 40px;
    background: #2d47d8;
    border: none;
    color: rgb(255, 255, 255);
    margin-bottom: 16px;
  }
  
  .form-contact p{
    height: 40px;
    text-align: center;
    border-bottom: 1px solid;
  }
  
  .form-contact {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 14px;
  }

  #missatge{
        width: 100%;
        font-family: arial;
        border: 1px solid #2d47d8;
        margin-bottom: 15px;
        padding: 11px 10px;
        background: #ffffff;
        font-size: 14px;
        font-weight: bold;
      }